html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    script(src='http://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')
    script(type= 'text/javascript').
      $(document).ready(function(){
        $(".userName").click(function(){
          var groupName = $('.grouptitle').html();
          var userName = $(this).html();  
          var supply = this.id; 
          var increment = parseInt(prompt("Increment by how much?")); 

          while( isNaN(increment) ) {
          increment = parseInt(prompt("Please enter a valid integer!")); 
          }; 

          console.log(groupName); 
          console.log(userName); 
          console.log(supply); 
          console.log(increment); 

          $.ajax
          ({
            type: "POST",
            url: 'http://localhost:3000/incrementItem.json', 
            async: false,
            data: {"groupname": groupName,"name": userName,"item": supply,"amount": increment}, 
            });

          window.location.reload(); 
          });
        });
  body
    .container
      block content 
        div.navbar.navbar-default
          a(href="/").btn.btn-info Go home
          a(href="/mygroups").btn.btn-primary My Groups
        h1 Supplies
        h1().grouptitle=groupname
        br
        each object, k in obj
          h2()=k
          table.table
            tbody
              tr.table-bordered
                td
                  h3= "Name"
                td
                  h3= "Number"
            each supply, i in object
              tr.table-bordered
                td
                  h4.userName(id= k)= i 
                td
                  h4= supply
          br
