html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    script(src='http://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')
    script(src='https://www.google.com/jsapi')
    script(type= 'text/javascript').
      $(document).ready(function(){
        $(".userName").click(function(){
          var groupName = $('.grouptitle').html();
          var userName = $(this).html();  
          var supply = this.id; 
          var increment = parseInt(prompt("Increment by how much?")); 

          while( isNaN(increment) ) {
          increment = parseInt(prompt("Please enter a valid integer!")); 
          }; 

          console.log(groupName); 
          console.log(userName); 
          console.log(supply); 
          console.log(increment); 

          $.ajax
          ({
            type: "POST",
            url: 'http://localhost:3000/incrementItem.json', 
            async: false,
            data: {"groupname": groupName,"name": userName,"item": supply,"amount": increment}, 
            });

          window.location.reload(); 
          });
        });
      function addItemToGroup(){
        var itemName = prompt("Type in the name of item you want to add in:");
        var groupName = $('.grouptitle').html();
        
        $.ajax
        ({
          type: "POST",
          url: 'http://localhost:3000/newItem',
          dataType: 'json', 
          async: false,
          data: {"groupname": groupName, "item": itemName},
          success: function () {
            console.log("k THX");
          }
          });
          window.location.reload();
      }

      //CHART SCRIPT STARTS HERE

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      //- google.setOnLoadCallback(drawCharts);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.

      function drawCharts() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Mushrooms', 3],
          ['Onions', 1],
          ['Olives', 1],
          ['Zucchini', 1],
          ['Pepperoni', 2]
        ]);

        // Set chart options
        var options = {'title':'How Much Pizza I Ate Last Night',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById(______));
        chart.draw(data, options);
      }

      (function printThings(){
        console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~');
        obj = JSON.parse('!{obj}')
        alert(obj['bread'])
        for(k in obj){
          console.log(k, obj[k]);
        };
      })();
  body
    .container
      div(onload='drawChart("banana")')#banana
      block content 
        div.navbar.navbar-default
          a(href="/").btn.btn-info Go home
          a(href="/mygroups").btn.btn-primary My Groups
          button#newItem(onclick="addItemToGroup();").btn.btn-primary New Item
        h1 Supplies
        h1().grouptitle=groupname
        br
        each object, k in JSON.parse(obj)
          h2=k
          table.table
            tbody
              tr.table-bordered
                td
                  h3= "Name"
                td
                  h3= "Number"
            each supply, i in object
              tr.table-bordered
                td
                  h4.userName(id= k)= i 
                td
                  h4= supply
          br
